{
  "presets": [],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "development": {
      "plugins": [
        "syntax-dynamic-import"
      ],
      "presets": [
        [
          "env",
          {
          modules: false,
            "targets": {
              'node': 4,
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "external-helpers",
        "syntax-dynamic-import"
      ], 
      "presets": [
        ["env", {
          modules: false,
          "targets": {
              'node': 4,
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
        }]
      ]
    },
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node",
        "transform-async-to-generator",
        [
          "istanbul",
          {
            "exclude": [
              "spec/**/*.js",
              "__tests__/**/*.test.js",
              "__mocks__/**/*.js"
            ]
          }
        ],
        "rewire"
      ],
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "chrome >= 55",
              "IE >= 11"
            ]
          },
          "useBuiltIns": true
        }]
      ]
    }
  }
}