{
  "extends": "morsedigital",
  "globals": {
    "fdescribe": true,
    "describe": false,
    "beforeEach": false,
    "afterEach": false,
    "it": true,
    "expect": true,
    "spyOn": true,
    "google": true,
    "InfoBubble": true
  },
  "rules": {
    "require-jsdoc": 0
  }
}